{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'schedule/css/styles.css' %}" />
{% endblock css %}

{% block content %}
<div class="hidden-web">
  <div class="pull-right">
    <img src="{% static 'schedule/img/wegc-logo-print.png' %}" alt="WEGC Logo" width="300" height="116"/>
  </div>
  <div class="clearfix"></div>
</div>

<div id="header-line">
  <span class="label label-info">
    {{ presentation.series }}
  </span>
  <span class="ical hidden-print pull-right">
    <a href="/export/{{ presentation.pk }}">
      <span class="glyphicon glyphicon-calendar"></span>
    </a>
  </span>
</div>

<div class="pull-right hidden-print">
  <div id="wegc-logo"></div>
</div>

<h2 class="title">{{ presentation.title }}</h2>
<div class="presenter">{{ presentation.presenter }}</div>
<div class="affiliation">
  {{ presentation.presenter.affiliation }}
</div>

<div class="time-place well">
  <div class="datetime">
    <time datetime="{{ presentation.date|date:'Y-m-d H:i' }}">
      <span class="glyphicon glyphicon-time"></span>
      {{ presentation.date|date:'l, j F Y' }}, {{ presentation.date|date:"H:i" }}–{{ presentation.date|add:presentation.duration|date:"H:i"}}
    </time>
  </div>
  
  <div class="location">
    <span class="glyphicon glyphicon-map-marker"></span> {{ presentation.location }}
  </div>
  
  {% if presentation.moderator %}
  <div class="moderation">
    Moderation: {{ presentation.moderator }}
  </div>
  {% endif %}
</div>

{% if presentation.abstract %}
<div class="abstract">
  <h4>Abstract</h4>
  {{ presentation.abstract }}
</div>
{% endif %}

{% if presentation.presenter.biography %}
<div class="biography">
  <h4>Short Biography</h4>
  {{ presentation.presenter.biography|linebreaks }}
</div>
{% endif %}

<div class="m-t-2 hidden-print">
  {% if request.META.HTTP_REFERER %}
  <a href="{{ request.META.HTTP_REFERER }}">Return to list</a>
  {% else %}
  <a href="/">List of upcoming presentations</a>
  {% endif %}
</div>

{% endblock content %}
