{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'schedule/css/styles.css' %}" />
{% endblock css %}

{% block content %}
<div class="hidden-web">
  <div class="pull-right">
    <img src="{% static 'schedule/img/wegc-logo-print.png' %}" alt="WEGC Logo" width="300" height="116"/>
  </div>
  <div class="clearfix"></div>
</div>

<h1>
  Wegener Center Seminars <small class="hidden-print">{{ list }}</small>
  <span class="pull-right hidden-print">
    <small><small>
      <a href="{% if list == 'past' %}.{% else %}past{% endif %}">
	<span class="glyphicon glyphicon-arrow-{% if list == 'past' %}right{% else %}left{% endif %}"></span>
      </a>
    </small></small>
  </span>
</h1>

<div class="m-t-2 hidden-print">
{% if series|length > 1 %}
  <b>Series displayed:</b>
  <div class="btn-group" role="group" aria-label="filter series">
    {% for s in series %}
    <a class="btn btn-info" onclick="$('.{{ s|slugify }}').toggle();$(this).toggleClass('btn-outline-info').toggleClass('btn-info');">{{ s }}</a>
    {% endfor %}
  </div>
{% elif series|length == 1 %}
  <button class="btn btn-info disabled">{{ series.0 }}</button>
{% endif %}
</div>

<div class="row m-t-2">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    {% if presentation_list %}
    <ul class="event-list">
      {% for presentation in presentation_list %}
      <li class="{{ presentation.series|slugify }}">
	<time datetime="{{ presentation.date|date:'Y-m-d H:i' }}">
	  <span class="weekday">{{ presentation.date|date:'l' }}</span>
	  <span class="month">{{ presentation.date|date:'F' }}</span>
	  <span class="day">{{ presentation.date|date:'j' }}</span>
	  <span class="year">{{ presentation.date|date:'Y' }}</span>
	  <span class="time">{{ presentation.date|date:"H:i" }}–{{ presentation.date|add:presentation.duration|date:"H:i"}}</span>
	</time>
	<div class="info">
	  <h2 class="title">
	    <a href="{{ presentation.get_absolute_url }}">{{ presentation.title }}</a>
	  </h2>
	  <p class="first-line">{{ presentation.presenter }}</p>
	  <p class="second-line">{{ presentation.presenter.affiliation }}</p>
	  <div class="bottom-line">
	    <p class="pull-left"><span class="glyphicon glyphicon-map-marker"></span> {{ presentation.location.name }}</p>
	    <p class="pull-right">
	      <span class="label label-info">{{ presentation.series }}</span>
	      <span class="label label-info ical hidden-print">
		  <a href="/export/{{ presentation.pk }}">
		    <span class="glyphicon glyphicon-calendar"></span>
		  </a>
	      </span>
	    </p>
	  </div>
	  <div class="clearfix"></div>
	</div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-warning">
      {% if list == 'past' %}
      There is no past presentation in the database
      {% else %}
      At the moment there is no presentation scheduled
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}
