Dear friends of {{ presentation.series }},<br/>
<br/>
I would like to invite you to our upcoming {{ presentation.series|cut:" Seminar"|cut:" seminar" }} Seminar:<br/>
<br/>
<b>{{ presentation.title }}</b><br/>
<b>{{ presentation.presenter }}</b><br/>
{% if presentation.presenter.affiliation %}
{{ presentation.presenter.affiliation }}<br/>
{% endif %}
<br/>
{{ presentation.date|date:'l, j F Y' }}, {{ presentation.date|date:"H:i" }}–{{ presentation.date|add:presentation.duration|date:"H:i"}}<br/>
{{ presentation.location }}<br/>
{% if presentation.moderator %}
Moderation: {{ presentation.moderator }}<br/>
{% endif %}
<br/>
For further detail please visit <a href="https://{{ site.domain }}{{ presentation.get_absolute_url }}">https://{{ site.domain }}{{ presentation.get_absolute_url }}</a>.<br/>
<br/>
All the best,<br/>
{{ presentation.series.responsible.first_name }}
