{% load static %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block title %}Wegener Center Seminar Series{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap-theme.min.css' %}" />
    {% block css %}{% endblock css %}
  </head>

  <body>
    <div class="container" id="content">
      {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    {% block script %}{% endblock script %}  
  </body>
</html>
