.m-t-2 {
    margin-top: 2em;
}
.m-b-2 {
    margin-bottom: 2em;
}
.event-list {
    list-style: none;
    font-family: "Lucida", sans-serif;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}

.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: black;
    background-color: #ffd900;
    padding: 5px;
    text-align: center;
}

.event-list > li > time > span {
    display: none;
    padding: 4px 0px;
}

.event-list > li > time > .day {
    display: block;
    font-size: 36pt;
    font-weight: 100;
    line-height: 1;
}

.event-list > li time > .weekday {
    display: block;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1;
    background-color: #83c326;
    color: white;
}

.event-list > li time > .year,
.event-list > li time > .month {
    display: block;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1;
}

.event-list > li time > .time {
    display: block;
    padding-top: 4px;
    font-size: 12pt;
    font-weight: 900;
    line-height: 1;
}

.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
    padding: 5px;
}

.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}

.event-list > li > .info > .title a {
    color: black;
}

.ical a {
    color: white;
}

.presenter, 
.event-list > li > .info > .first-line {
    font-size: 14pt;
    font-weight: 300;
    margin: 0px;
}

.affiliation,
.event-list > li > .info > .second-line {
    font-size: 13pt;
    font-weight: 300;
    font-style: italic;
}

.event-list > li > .info > .bottom-line {
    width: 100%;
    font-size: 13pt;
    font-weight: 500;
}

.time-place {
    margin: 2em 0;
    font-size: 12pt;
}

.datetime, .location, .moderation {
    font-weight: 300;
    margin: .5em 0;
}

.datetime, .location {
    font-weight: 700;
}

.abstract, .biography {
    font-size: 12pt;
}

.abstract h4, .biography h4 {
    margin-top: 2em;
}

#header-line {
    font-size: 12pt;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


#wegc-logo {
    width: 162px;
    height: 64px;
    background: url('../img/wegc-logo.png');
    margin-left: 2em;
}

.hidden-web {
    display: none;
}

@media (min-width: 768px) {
    .event-list > li {
	position: relative;
	display: block;
	width: 100%;
	height: 160px;
	padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
	display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
	width: 160px;
	float: left;
    }
    .event-list > li > .info {
	background-color: rgb(245, 245, 245);
	overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
	width: 160px;
	height: 160px;
	padding: 0px;
	margin: 0px;
    }
    .event-list > li > .info {
	position: relative;
	height: 160px;
	text-align: left;
	padding: 10px;
    }	

    .event-list > li > .info > .title {
	min-height: 24pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    }
    
    .event-list > li > .info > .second-line {
	min-height: 18pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    }
    
    .event-list > li > .info > .bottom-line {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 0px 10px;
    }
}

@page {
    size: A4;
    /* margin: 0; */
}

@media print {
    html, body {
	width: 210mm;
	height: 297mm;
    }
    
    /* hide 'on-line'-elements */
    .hidden-print {
	display: none !important;
    }
    
    .hidden-web {
	display: block !important;
    }
    
    /* do not print link urls (bootstrap default) */
    a[href]:after {
	content: none !important;
    }

    ul.event-list li {
	border: 2px solid lightgrey;
	border-radius: 8px;
	margin: 25px 0px !important;
	page-break-inside: avoid;
    }
}
